body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    /* width: 100%; */
}
/*----------------- HEADER -----------------*/
header img{
    min-width: 25em;
    width: 30%;
    display: block;
    margin: 0 auto;
}
header ul{
    color: white;
    background-image: linear-gradient(rgb(0, 110, 255), rgb(0, 140, 255), rgb(0, 110, 255));
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}
header li{
    border: white 1px solid;
    flex-grow: 1;
    padding: .5em;
}
header li:hover{
    background-image: linear-gradient(rgb(0, 90, 255), rgb(0, 130, 255), rgb(0, 90, 255));
    box-shadow: 0px 5px 5px rgb(200, 200, 255);
}
/*----------------- MAIN -----------------*/
main section{
    width: calc(100vw- 8em);
    min-width: 400px;
    margin: 2em auto;
    margin: 2em;
    border: 1px black solid;
}
main .S1{
    margin: 0;
}
main .S1 img{
    width: 100vw;
    height: 20em;
   
}
main .S3{
   display: grid;
   grid-template-columns: repeat(2, calc(50% - .25em)) ;
   grid-template-rows: 25em;
   gap: .5em;
}
main .S3 iframe{
    border: 1px black solid;
    width: calc(100%);
    height: 100%;
}
main .S4{
    font-style: italic;
}
/*----------------- FOOTER -----------------*/
footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}
footer li{
    flex-grow: 1;
}
footer li:hover{
   color: rgb(0, 90, 255);
}
/*----------------- MEDIA QUERIES -----------------*/
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
        width: 480px;
        font-size: .9em;
    }
    header ul{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    main .S3{
        grid-template-columns: repeat(1, calc(100%)) ;
        grid-template-rows: repeat(2, 15em );
     }
     main .S1 img{
        height: 8em;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
    header ul{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    main .S3{
        grid-template-columns: repeat(1, calc(100%)) ;
        grid-template-rows: repeat(2, 19em);
     }
     main .S1 img{
        height: 10em;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
    header ul{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    main .S3{
        grid-template-columns: repeat(1, calc(100%)) ;
        grid-template-rows: repeat(2, 25em);
     }
     main .S1 img{
        height: 14em;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
    main .S3{
        grid-template-rows: repeat(2, 18em);
     }
     main .S1 img{
        height: 17em;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}