body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

/* HEADER */
nav{
    margin-bottom: 1em;
}
header img{
    width: 25vw;
    display: block;
    margin: 0 auto;
}
header ul{
    color: white;
    background-image: linear-gradient(rgb(0, 110, 255), rgb(0, 140, 255), rgb(0, 110, 255));
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}
header li{
    border: white 1px solid;
    flex-grow: 1;
    padding: .5em;
}
header li:hover{
    background-image: linear-gradient(rgb(0, 90, 255), rgb(0, 130, 255), rgb(0, 90, 255));
    box-shadow: 0px 5px 5px rgb(200, 200, 255);
}


/* FOOTER */
footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}
footer li{
    flex-grow: 1;
}
footer li:hover{
   color: rgb(0, 90, 255);
}

/* Tablets */
@media (max-width:760px){
    header img{
        width: 35vw;
    }
    header ul{
        font-size: .9em;
    }
}

/* Phones */
@media (max-width:320px){
    header img{
        width: 100vw;
    }
    header ul{
        font-size: .7em;
        display: grid;
        grid-template-columns: repeat(4, 25vw);
    }
}