header{
    margin-bottom: 2em;
}

header img{
    min-width: 25em;
    width: 30%;
    display: block;
    margin: 0 auto;
}
header ul{
    color: white;
    background-image: linear-gradient(rgb(0, 110, 255), rgb(0, 140, 255), rgb(0, 110, 255));
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}
header a{
    border: white 1px solid;
    flex-grow: 1;
    padding: .5em;
}
header li a:hover{
    background-image: linear-gradient(rgb(0, 90, 255), rgb(0, 130, 255), rgb(0, 90, 255));
    box-shadow: 0px 5px 5px rgb(200, 200, 255);
    cursor: pointer;
}
header .Slideshow{
    margin: 0;
    border: 0;
}
header .Slideshow img{
    width: 98.9vw;
    height: 20em;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    header ul{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    header .Slideshow img{
        height: 8em;
    }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    header ul{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    header .Slideshow img{
        height: 10em;
    }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    header ul{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    header .Slideshow img{
        height: 14em;
    }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
     header .Slideshow img{
        height: 17em;
    }
}
