h1{
    font-size: 1.2em;
}
h2{
    font-size: .8em;
}
main{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1em;
    margin-right: 2em;
}
main section{
    border: .3em rgb(30, 30, 30) solid;
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
    border-radius: 1em;
    width: 100%;
    padding: 2em;
    margin: 0;
    box-sizing: border-box;
}
main section img{
    display: block;
    margin: 0 auto;
}
main section a{
    text-decoration: underline;
}

/*----------------- MEDIA QUERIES -----------------*/
/* Mobile Devices */
@media (max-width: 480px) {
    main{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main section{
        box-sizing: border-box;
        margin: 1em auto;
        width: 95vw;
    }
}
  
/* Low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    main{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main section{
        box-sizing: border-box;
        margin: 1em auto;
        width: 92vw;
    }
}
  
/* Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    main{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main section{
        box-sizing: border-box;
        margin: 1em auto;
        width: 90vw;
    }
}
  
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    main{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main section{
        box-sizing: border-box;
        margin: 1em auto;
        width: 90vw;
    }
}
