h1{
    font-size: 1.2em;
}
h2{
    font-size: .8em;
}
main{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1em ;
}
main section{
    border: .3em black solid;
    border-radius: 1em;
    margin: 0 0;
}
main section img{
    display: block;
    margin: 0 auto;
}
main section a{
    text-decoration: underline;
}

/*----------------- MEDIA QUERIES -----------------*/
/* Mobile Devices */
@media (max-width: 480px) {

}
  
/* Low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}
  
/* Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

}
  
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}
  
/* Large screens */
@media (min-width: 1281px) {

}
